body{
    background: url("#{resource['images/background.png']}") no-repeat fixed center;
    background-size: 100%;
    margin: 0;
}
.panelGridd{
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    width: 300px;
    margin: auto;
    margin-top: 9%;
    padding: 5px;
}

.logo{
    padding-left: 100px;
    padding-right:100px;
    margin-bottom: 20px;
    margin-top: -83px;
}
.input{
    margin-left: 0px !important;
    background: none;
    padding: 2px 2px 2px 2px;
    display: block;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid #ff6600;
    border-radius: 0px;
    position: relative;
        -webkit-box-shadow: inset 0 0px 0px;
}
.btnLogin{
    margin-top: 25px;
    margin-left:92px !important;
    margin-right: 92px !important;
    border: 0;
    border-radius: 20px;
}

.linkText {
    color: #ff6600 !important;
    text-decoration: none;
    cursor: pointer;
    margin-left:0px ;
    margin-right: 0px;
}
#header{
    width: 1365px;
    height:105px;
    opacity: 0.4 !important;
}
#logoHeader{
    position: absolute;
    margin-left: -1352px;
}
#logoutHeader{
    position: absolute;
    margin-left: -56px;
    margin-top: 31px;
}
.tab{
    margin: 10px;
    opacity: 0.9 !important;
}